/* common css starts here */
* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
/* commmon css ends here */
.main {
    /* background: url(../Images/main.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    overflow: hidden;
    /* min-height: 100vh; */
    height: 872.58px;
    width: 100%;
   
   
/* nav css starts here */
}
nav .navbar-nav{
    column-gap: 55px;
}
nav .nav-item .nav-link{
    padding: 0px !important;
    font-family: "Google Sans", sans-serif;
    font-size: 17px;
    font-weight:500 ;
    color: rgba(33, 40, 50,1) !important;
   

}
nav .nav-item{
    position: relative;
}
nav .nav-item::before {
    width: 0;
    height: 2px;
    background-color: rgba(241, 165, 1,1);
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    transition: .5s;
}
nav .nav-item:hover::before{
    width: 100%;
}
.nav-button a {
    padding: 9px 22px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    color: rgba(33, 40, 50,1);
      font-family: "Google Sans", sans-serif;
      border: 1px solid rgba(33, 40, 50,1);
      transition: .5s;
      border-radius: 5px;
}
nav .nav-button a:hover {
  background-color: rgba(241, 165, 1,1);
  color: rgba(255, 255, 255,1);
  border: 1px solid   rgba(241, 165, 1,1);
}
nav .nav-button a:nth-child(3):hover {
    background-color: transparent ;
    color:rgba(33, 40, 50,1) ;
    border: 1px solid transparent;
    cursor: pointer;
}
nav .nav-button a:nth-child(3) {
    border: 1px solid transparent;
}
/* main css starts here */
.yellow-image {
     position: absolute;
     top: -308px;
     right: -76px;
    /* background-color: red; */
    width:60%;
    height: 100%;
    /* border-bottom-left-radius: 50%; */
     background: url(../Images/main.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
   

}
.banner img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    /* margin-top: 20px;
    margin-left: -20px; */
    /* margin-top: -50px; */
}


nav .container, .banner .container {
    position: relative;
    z-index: 1;
}
/* main css ends here */
/* nav css ends here */
.banner .container .row {
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.banner h3 {
     font-family: "Poppins", sans-serif;
     font-size:20px ;
     font-weight: 700;
     color: rgba(223, 105, 81,1);
     padding-top: 130px;
}
.banner p {
    padding: 34px 0;
    font-family: "Poppins", sans-serif;
    font-size:16px ;
    font-weight:500 ;
    color: rgba(94, 98, 130,1);
    width: 477px;

}
.banner .container h1 {
     font-family: "Volkhov", serif;
     font-size: 84px;
     font-weight:700;
     color: rgba(24, 30, 75,1);
} 
.banner .container h1 span {
    background: url(../Images/banner\ two.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110% 10px;
    padding-bottom: 5px;
    padding: 0 15px;
    z-index: 1;
}
.banner .banner-button .left-button {
    padding: 19px 26px;
    background-color:rgba(241, 165, 1,1) ;
    display: inline-block;
    color: rgba(255, 255, 255,1);
    font-size: 18px;
      font-family: "Google Sans", sans-serif;
    font-weight:500 ;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0,0.25);
    transition: .5s;
}
.banner .banner-button .left-button:hover {
    background-color:rgba(255, 255, 255,1) ;
    color: black;
}
.banner .banner-button {
    display: flex;
    align-items: start;
    justify-content: start;
    column-gap: 44px;
}
.banner .banner-button .banner-icon-button {
    /* width: 170px;
    height: 60px; */
 
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0,0.25);
   overflow: hidden;
    background-color: rgba(255, 255, 255,1);
   

}
.banner .banner-button .banner-icon-button .banner-icon-button-inside {
    width: 52px;
    height: 52px;
    background-color: transparent;
    /* border-radius: 50%; */
}
.banner .banner-button .banner-icon-button .banner-icon-button-inside img {
    width: 100%;
    height: 100%;
    
}
.banner .banner-button .banner-icon-button a {
    /* padding-top:15px ; */
    /* padding-bottom: 11px;
    padding-left: 21px; */
       padding: 19px 26px;
    
   
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      color: rgba(104, 109, 119,1);
      font-weight: 500;
      display: inline-block;
}

/* banner ends here */
/* main ends here */
/* services css starts here */
.services {
    background: url(../Images/services.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 94px;
    padding-left:148px ;
    padding-right: ; */
}
.services p {
    text-align: center;
    font-size:18px ;
    font-weight: 600;
      font-family: "Poppins", sans-serif;
    color: rgba(94, 98, 130,1);
}
.services h2 {
    text-align: center;
    font-size: 50px;
    color: rgba(20, 24, 62,1);
    font-weight:700 ;
      font-family: "Volkhov", serif;
}
.services .card {
 width: 100% !important;
 border:  none !important;

/* background-color: red; */
 


 
}
.card .card-img-top {
    width: 92px;
   
  
   margin: 0 auto;
}
.card .card-body {
    padding: 0px !important;
}