/* common css starts here */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
/* commmon css ends here */
.main {
    /* background: url(../Images/main.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    overflow: hidden;
    /* min-height: 100vh; */
    height: 872.58px;
    width: 100%;
   
   
 
}
nav .navbar-nav{
    column-gap: 55px;
}
nav .nav-item .nav-link{
    padding: 0px !important;
    font-family: "Google Sans", sans-serif;
    font-size: 17px;
    font-weight:500 ;
    color: rgba(33, 40, 50,1) !important;
   

}
.nav-button a {
    padding: 9px 22px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    color: rgba(33, 40, 50,1);
      font-family: "Google Sans", sans-serif;
      border: 1px solid rgba(33, 40, 50,1);
      transition: .5s;
      border-radius: 5px;
}
nav .nav-button a:hover {
  background-color: rgba(241, 165, 1,1);
  color: rgba(255, 255, 255,1);
  border: 1px solid   rgba(241, 165, 1,1);
}
nav .nav-button a:nth-child(3):hover {
    background-color: transparent ;
    color:rgba(33, 40, 50,1) ;
    border: 1px solid transparent;
    cursor: pointer;
}
nav .nav-button a:nth-child(3) {
    border: 1px solid transparent;
}
.yellow-image {
     position: absolute;
     top: -308px;
     right: -76px;
    /* background-color: red; */
    width:60%;
    height: 100%;
    /* border-bottom-left-radius: 50%; */
     background: url(../Images/main.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
   

}
.banner img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    /* margin-top: 20px;
    margin-left: -20px; */
    /* margin-top: -50px; */
}


nav .container, .banner .container {
    position: relative;
    z-index: 1;
}

.banner .container .row {
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.banner h3 {
     font-family: "Poppins", sans-serif;
     font-size:20px ;
     font-weight: 700;
     color: rgba(223, 105, 81,1);
     padding-top: 130px;
}
.banner .container h1 {
     font-family: "Volkhov", serif;
     font-size: 84px;
     font-weight:700;
     color: rgba(24, 30, 75,1);
} 
.banner .container h1 span {
    background: url(../Images/banner\ two.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110% 10px;
    padding-bottom: 5px;
    padding: 0 15px;
    z-index: 1;
}
.banner .banner-button .left-button {
    padding: 19px 26px;
    background-color:rgba(241, 165, 1,1) ;
    display: inline-block;
    color: rgba(255, 255, 255,1);
    font-size: 18px;
      font-family: "Google Sans", sans-serif;
    font-weight:500 ;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0,0.25);
    transition: .5s;
}
.banner .banner-button .left-button:hover {
    background-color:rgba(255, 255, 255,1) ;
    color: black;
}


/* nav css ends here */